@page
@model DaoBlissWebApp.Areas.Admin.Pages.ProductSizes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Size</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm"></div>
            <input type="hidden" asp-for="Size.Id" />
            <div class="form-group">
                <span class="text-red-500 text-sm">*</span>
                <label asp-for="Size.Name" class="control-label"></label>
                <input asp-for="Size.Name" class="form-control" />
                <span asp-validation-for="Size.Name" class="text-red-500 text-sm"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.Unit" class="control-label"></label>
                <input asp-for="Size.Unit" class="form-control" />
                <span asp-validation-for="Size.Unit" class="text-red-500 text-sm"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Size.IsActive" /> @Html.DisplayNameFor(model => model.Size.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
