@page
@model DaoBlissWebApp.Areas.Admin.Pages.Articles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table-auto w-full border-collapse border border-warning">
    <thead class="bg-gray-100">
        <tr>
            <th class="border border-gray-300 px-4 py-2 text-left">Tiêu đề</th>
            <th class="border border-gray-300 px-4 py-2 text-left">Ngày tạo</th>
            <th class="border border-gray-300 px-4 py-2 text-left">Tóm tắt</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr class="hover:bg-gray-50">
                <td class="border border-gray-300 px-4 py-2">@item.Title</td>
                <td class="border border-gray-300 px-4 py-2">@item.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td class="border border-gray-300 px-4 py-2">@item.Summary</td>
                <td class="border border-gray-300 px-4 py-2 text-center">
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="text-blue-600 hover:underline">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
