@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-red-500 text-sm">Lỗi.</h1>
<h2 class="text-red-500 text-sm">Đã xảy ra lỗi trong quá trình xử lý yêu cầu của bạn.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Mã yêu cầu:</strong> <code>@Model.RequestId</code>
    </p>
}