@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
<<<<<<< HEAD
        Layout = "/Pages/Shared/_AccountLayout.cshtml";
=======
        Layout = "~/Pages/Shared/_Layout.cshtml";
>>>>>>> Nhat
    }
}

<h1>Manage your account</h1>

<div class="row">
    <div class="col-md-3">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
