@page "/lockaccount.html"
@model LockoutModel
@{
    ViewData["Title"] = "Tài khoản bị tạm khóa";
}


<div class="w-full max-w-md mx-auto my-12">
    <div class="bg-white rounded-2xl shadow-lg p-8 space-y-6">
        <div class="text-center mb-8">
            <h1 class="text-2xl font-bold text-red-500 text-sm mb-2">Tài khoản bị tạm khóa, thử lại sau 5 phút nữa.</h1>
        </div>
    </div>
</div>