@page
@model DaoBlissWebApp.Pages.AboutUsModel
@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<body class="font-sans text-[#f9f5f0]">
    <div class="relative w-full h-screen overflow-hidden bg-[url('/img/tam-la-dao-do-tai-La-Dao-Spa.jpg')] bg-cover bg-center">
        <div class="absolute top-0 h-full w-[55%] bg-[rgba(33,57,41,0.9)] skew-x-[10deg] origin-top-left -left-[12%] z-[1]"></div>
        <div class="absolute top-0 h-full w-[50%] bg-[rgba(33,57,41,0.4)] skew-x-[-15deg] left-0 z-[2]"></div>
        <div class="absolute top-0 h-full w-[53%] bg-[rgba(33,57,41,0.25)] skew-x-[-15deg] left-0 z-[3]"></div>
        <div class="relative z-[4] h-full flex items-center pl-[5%]">
            <div class="max-w-[40%] text-white">
                <h2 class="text-4xl mb-4 select-none">Về chúng tôi</h2>
                <h3 class="text-xl mb-4 select-none">Giá trị cốt lõi</h3>
                <p class="text-sm text-justify leading-relaxed mb-8">
                    DaoBliss là doanh nghiệp chuyên sản xuất các sản phẩm chăm sóc sức khỏe tự nhiên, tập trung vào các thành phần hữu cơ, an toàn và không hóa chất. Không chỉ cung cấp sản phẩm, công ty còn hướng đến việc truyền tải và bảo tồn văn hóa bản địa - chia sẻ kiến thức và câu chuyện truyền thống của người Dao Đỏ. Mô hình này nắm bắt xu hướng toàn cầu đang phát triển, kết hợp kinh doanh với bảo tồn văn hóa và phát triển cộng đồng.
                </p>
                <h3 class="text-xl mb-4 select-none">Liên hệ với chúng tôi</h3>
                <ul class="list-disc list-inside text-sm space-y-6 mb-8">
                    <li>Địa chỉ: Đại học FPT, Thạch Thất, Hà Nội</li>
                    <li>Email: daobliss.official@gmail.com</li>
                    <li>Số điện thoại: 033 273 3805</li>
                </ul>
            </div>
        </div>
    </div>
</body>